*.o
*.swp
*.swo
*.h.gch
.deps
Makefile
Makefile.in

# autoconf, automake
INSTALL
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
autoscan.log
compile

# 二进制文件
test/unit_test
test/experiment/3tag_test
test/experiment/iterator_associated_types
test/unit_test/unit_test
